---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="참고문헌"
  description="참고문헌"
  pubDate={new Date("Nov 21 2024")}
  heroImage="/blog-placeholder-about.jpg"
>
  <ol>
    <li>Nagorno-Karabakh conflict: History, India’s response</li><li>
      Human Rights Watch/Helsinki, Azerbaijan : Seven years of conflict in
      Nagorno-Karabakh, New York : Human Rights Watch, 1994
    </li>
    <li>
      Michael P. Croissant, The Armenia-Azerbaijan conflict : causes and
      implications, 1998
    </li>
    <li>
      아르메니아-아제르바이잔 분쟁의 기원과 전개: 정체성과 지정학적 이해의 충돌
    </li>
  </ol>
</Layout>
